h3 {
    color: red;
    font-weight: bold;
}

/* Element Selector */
h4 {
  font-style: italic;
}

/* Class Selector */
.css{
  color: aqua;
}

/* ID Selector */
#para{
  color: pink;
}

/* CSS Grids */
.grid-demo {
    display: grid;
    /* grid-template-rows: auto auto; */
    grid-template-columns: 100%;
}

/* Mobile Responsive */
@media (min-width: 300px) {
  .grid-demo {
    grid-template-columns: 50% 50%;
  }
} 

@media (min-width: 900px) {
  .grid-demo {
    grid-template-columns: 1fr 1fr 1fr;
  }
}